body{
    font-family: 'Open Sans';
    background-image: url("../img/emilia-home.jpg");
    background-position: right;
    background-size: 900px;
    background-repeat: no-repeat;
}
h1{
    background-color: rgba(255, 255, 255, 0.20);
}
ul li a{
    color: black;
}